.omnicatIcon {
  width: 113.3px;
  height: 24px;
  position: relative;
}
.link {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 120%;
}
.logo {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 775px;
  max-width: 100%;
}
.link1,
.link2,
.link3,
.link4,
.link5 {
  height: 24px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
}
.links {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-family: var(--text-small-link);
}
.subtractIcon,
.vectorIcon {
  height: 36px;
  width: 36px;
  position: relative;
  min-height: 36px;
}
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.content,
.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.content {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.divider,
.link6 {
  position: relative;
}
.link6 {
  letter-spacing: -0.04em;
  line-height: 120%;
}
.divider {
  align-self: stretch;
  height: 1px;
  background-color: var(--white);
}
.link7,
.link8,
.link9,
.text {
  position: relative;
  line-height: 150%;
}
.link7,
.link8,
.link9 {
  height: 21px;
  text-decoration: underline;
  display: inline-block;
}
.link8,
.link9 {
  flex: 1;
  min-width: 68px;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
  min-width: 224px;
}
.credits,
.footer4,
.footerLinks,
.row {
  justify-content: flex-start;
  max-width: 100%;
}
.row {
  width: 567px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.credits,
.footer4 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.credits {
  display: none;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--text-small-link-size);
  font-family: var(--text-small-link);
}
.footer4 {
  overflow: hidden;
  display: flex;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  background-image: url(/public/footer--4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--white);
  font-family: var(--font-roboto-mono);
}
@media screen and (max-width: 1125px) {
  .logo {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .links {
    flex-wrap: wrap;
  }
  .content {
    gap: var(--gap-base);
  }
  .footer4 {
    gap: var(--gap-21xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footerLinks {
    flex-wrap: wrap;
  }
  .footer4 {
    gap: var(--gap-xl);
  }
}
