.heading {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.content1,
.contentTop1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
}
.contentTop1 {
  flex: 1;
  min-width: 336px;
  max-width: 100%;
}
.link {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  letter-spacing: -0.04em;
  line-height: 100%;
  font-family: var(--font-roboto-mono);
  color: var(--foundation-tertiary-t200);
  text-align: center;
}
.contentTop {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.heading1 {
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #b59af6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 112px;
  max-width: 100%;
}
.link1 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 100%;
  text-transform: uppercase;
}
.linkVectorIcon {
  height: 8px;
  width: 12px;
  position: relative;
}
.layoutFrame,
.sushiSwapLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sushiSwapLogo {
  width: 144px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
}
.layoutFrame {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-roboto-mono);
}
.card,
.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  align-self: stretch;
  padding: var(--padding-5xl);
  gap: var(--gap-41xl);
}
.card {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(
      90.2deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gray-200);
  min-width: 419px;
}
.heading2 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.content3,
.contentTop2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  align-self: stretch;
}
.contentTop2 {
  flex: 1;
  min-width: 336px;
  max-width: 100%;
}
.link2 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  letter-spacing: -0.04em;
  line-height: 100%;
  font-family: var(--font-roboto-mono);
  color: var(--foundation-tertiary-t200);
  text-align: center;
}
.imageFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.heading3 {
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #b59af6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 92px;
  max-width: 100%;
}
.link3 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 100%;
  text-transform: uppercase;
}
.vectorIcon {
  height: 8px;
  width: 12px;
  position: relative;
}
.linkParent,
.socialLinksFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linkParent {
  width: 144px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
}
.socialLinksFrame {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-roboto-mono);
}
.content2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
}
.card1,
.cardParent,
.content2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.card1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(
      90.2deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  min-width: 419px;
}
.cardParent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.frameWrapper {
  width: 1312px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-100);
  font-family: var(--font-roboto-flex);
}
@media screen and (max-width: 800px) {
  .contentTop1 {
    min-width: 100%;
  }
  .contentTop {
    flex-wrap: wrap;
  }
  .heading1 {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .layoutFrame {
    flex-wrap: wrap;
  }
  .contentTop2 {
    min-width: 100%;
  }
  .imageFrame {
    flex-wrap: wrap;
  }
  .heading3 {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .socialLinksFrame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .heading1 {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .heading2 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .heading3 {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
}
