.playButton {
  width: 200px;
  position: relative;
  height: 160px;
  display: none;
}
.omniIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.omniWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 290.5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.link {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 120%;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.link1 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 150%;
}
.image2Icon {
  align-self: stretch;
  width: 89.1px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 24px;
}
.linkParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-6xs);
  text-align: left;
}
.header14,
.placeholderLightbox {
  align-self: stretch;
  display: flex;
  align-items: center;
  max-width: 100%;
}

/* Header.module.css */

.header14 {
  height: 800px;
  background-color: var(--white);
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--white);
  font-family: var(--font-roboto-mono);
}

.placeholderLightbox {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-146xl) var(--padding-23xl) var(--padding-23xl);
  box-sizing: border-box;
  gap: var(--gap-405xl);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Rest of your existing styles go here */

@media screen and (max-width: 800px) {
  .placeholderLightbox {
    padding-top: var(--padding-88xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .placeholderLightbox {
    gap: var(--gap-193xl);
    padding: var(--padding-51xl) var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
