.logosAndSymbolsIcon {
  height: 32px;
  width: 28.5px;
  position: relative;
}
.heading {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.logosAndSymbolsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.icon {
  height: 32px;
  width: 19.6px;
  position: relative;
}
.layerX00201 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.layerX00201Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frameChild {
  height: 32px;
  width: 27.2px;
  position: relative;
}
.heading2 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.simpleIconspolygon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading3 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.simpleIconspolygonParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-width: 56px;
}
.image3Icon {
  height: 27px;
  width: 26px;
  position: relative;
  object-fit: cover;
}
.heading4 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.frameParent1,
.image3Parent {
  display: flex;
  flex-direction: row;
}
.image3Parent {
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-width: 62px;
}
.frameParent1 {
  width: 531.4px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.frameItem {
  height: 16px;
  width: 55px;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.heading5 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.ioncopy {
  margin: 0;
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headingParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-13xl);
  font-family: var(--font-roboto-mono);
}
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
}
.card,
.cardWrapper,
.content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.card {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(
      90.2deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
}
.cardWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.frameContainer,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frameContainer {
  align-self: stretch;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.frameWrapper {
  width: 1312px;
}
.baseLogo1Icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.layerX002011 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading6 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.layerX00201Group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frameWrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameInner {
  height: 16px;
  width: 55px;
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.heading7 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.ioncopy1 {
  margin: 0;
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headingGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-13xl);
  font-family: var(--font-roboto-mono);
}
.content1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
}
.card1,
.cardContainer,
.content1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.card1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(
      90.2deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
}
.cardContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.frameWrapper1,
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frameWrapper2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.frameWrapper1 {
  width: 1312px;
}
.formkitsolanaIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading8 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.formkitsolanaParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frameWrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild1 {
  height: 16px;
  width: 55px;
}
.frameParent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.heading9 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.ioncopy2 {
  margin: 0;
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headingContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-13xl);
  font-family: var(--font-roboto-mono);
}
.content2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
}
.card2,
.cardFrame,
.content2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.card2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(
      90.2deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
}
.cardFrame {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.frameGroup,
.frameWrapper4,
.frameWrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frameWrapper5 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.frameGroup,
.frameWrapper4 {
  width: 1312px;
}
.frameGroup {
  overflow-x: auto;
  align-items: center;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.heading10 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 140%;
  font-weight: 500;
  font-family: var(--font-roboto-flex);
  color: var(--color-black);
  text-align: left;
}
.headingWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-sm);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.headingWrapper:hover {
  background-color: var(--color-gainsboro);
}
.frameParent,
.layout372 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.frameParent {
  justify-content: center;
  gap: var(--gap-41xl);
}
.layout372 {
  overflow: hidden;
  justify-content: flex-end;
  padding: var(--padding-41xl) var(--padding-45xl);
  box-sizing: border-box;
  background-image: url(/public/layout--3721@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 1037px;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-darkgray-100);
  font-family: var(--font-roboto-flex);
}
@media screen and (max-width: 1125px) {
  .headingContainer,
  .headingGroup,
  .headingParent {
    flex-wrap: wrap;
  }
  .layout372 {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frameDiv,
  .frameParent1 {
    flex-wrap: wrap;
  }
  .heading5,
  .heading7,
  .heading9 {
    font-size: var(--font-size-7xl);
    line-height: 36px;
  }
  .frameParent {
    gap: var(--gap-11xl);
  }
  .layout372 {
    gap: var(--gap-21xl);
    padding: var(--padding-6xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading,
  .heading1,
  .heading2,
  .heading3,
  .heading4,
  .heading5,
  .heading6 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
  .heading7,
  .heading8 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .frameParent4 {
    flex-wrap: wrap;
  }
  .heading9 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .layout372 {
    gap: var(--gap-xl);
  }
}
