.heading,
.link {
  position: relative;
  letter-spacing: -0.04em;
}
.heading {
  margin: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #fdfdfe;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  max-width: 100%;
}
.link {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 100%;
  font-family: var(--font-roboto-mono);
  text-align: center;
}
.headingParent {
  gap: var(--gap-5xs);
}
.content,
.contentWrapper,
.headingParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.contentWrapper {
  align-self: stretch;
  flex-direction: row;
}
.frameGroup,
.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
}
.frameGroup,
.frameParent {
  justify-content: center;
}
.frameGroup {
  width: 1312px;
  overflow-x: auto;
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-100);
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-41xl);
}
.heading1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 140%;
  font-weight: 500;
  font-family: var(--font-roboto-flex);
  color: var(--color-black);
  text-align: left;
}
.fluentarrowCircleRight16FIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headingGroup,
.layout372 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headingGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-sm);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2)), #fff;
  flex-direction: row;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.headingGroup:hover {
  background-color: var(--color-gainsboro);
}
.layout372 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl) var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  background-image: url(/public/layout--372@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--white);
  font-family: var(--font-roboto-flex);
}
@media screen and (max-width: 1125px) {
  .layout372 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .heading {
    font-size: var(--font-size-29xl);
    line-height: 67px;
  }
  .frameParent {
    gap: var(--gap-11xl);
  }
  .layout372 {
    gap: var(--gap-21xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-17xl);
    line-height: 50px;
  }
  .layout372 {
    gap: var(--gap-xl);
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
