.layout372Inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.sushiswapSushiLogoD7d611c0dIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.sushiswapSushiLogoD7d611c0dParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image4Icon {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.heading1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.image4Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image5Icon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-1018xl);
  object-fit: cover;
}
.heading2 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.image5Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image5Icon1 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-1018xl);
  object-fit: cover;
}
.heading3 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.image5Group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image5Icon2 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-1018xl);
  object-fit: cover;
}
.heading4 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.image5Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameParent,
.layout372 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.frameParent {
  width: 1032px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.layout372 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-93xl) var(--padding-45xl) var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  background-image: url(/public/layout--3722@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-100);
  font-family: var(--font-roboto-flex);
}
@media screen and (max-width: 1125px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .layout372Inner {
    gap: var(--gap-11xl);
  }
  .layout372 {
    gap: var(--gap-21xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading,
  .heading1,
  .heading2,
  .heading3,
  .heading4 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .layout372 {
    gap: var(--gap-xl);
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
